Repository F5Networks/f5-openstack-agent, pull requests merged in 2020-12, with the labels that each got.

#1550 Should not use .remove here for item removal.
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1551 Fix issue of None old_listener because pool or l7policy update.
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1559 create a new http profile even if no configure file is configured or …
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1556 Create a unique ssl profile for listener
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/ssl_profile.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_listener_services.py
Labels: agent-lite

#1560 use correct operating_status
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite, bug

#1570 use the get funcation to retrive the qos value
  f5_openstack_agent/lbaasv2/drivers/bigip/lbaas_builder.py
  f5_openstack_agent/lbaasv2/drivers/bigip/network_helper.py
  f5_openstack_agent/lbaasv2/drivers/bigip/network_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/tenants.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_network_service.py
Labels: bug

#1574 bind bwcPolicy into the listener
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite

#1565 Support to create listener with client ca certificate
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/service_adapter.py
  f5_openstack_agent/lbaasv2/drivers/bigip/ssl_profile.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_listener_services.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_ssl_profile.py
Labels: agent-lite

#1576 Do not detach user defined persist profile when removing pool
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1578 Do not detach user defined persist profile when removing pool
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1580 create snat_ip for backward compatibility
  .travis.yml
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/snats.py
Labels: bug

#1583 add snat ip backwards compatibility
  .travis.yml
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/snats.py
Labels: bug

#1584 release v9.8.22 for h3c private cloud
  docs/RELEASE-NOTES.rst
  f5_openstack_agent/__init__.py
Labels: prerelease

#1585 Revert "change the sdk version in the doc file from 3.0.11 to 3.0.11.1"
  docs/conf.py
Labels: agent-lite

#1586 Cherry-pick client authentication code to 9.8-stable branch
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/service_adapter.py
  f5_openstack_agent/lbaasv2/drivers/bigip/ssl_profile.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_listener_services.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_ssl_profile.py
Labels: agent-lite

#1587 Fix exception log
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite, bug

#1588 Fix exception log
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite, bug

#1589 Add '--customized' support for listener creation.
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, feature

#1591 Support session persistence timeout parameter in API
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, enhancement

#1593 Tolerate negative or None value of persistence_timeout
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite

#1590 do not break member deletion
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug
