Repository F5Networks/f5-openstack-agent, pull requests merged in 2021-01, with the labels that each got.

#1595 Do not hardcode timeout value in persistence iRule
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
Labels: agent-lite

#1596 Cherrypick persistence timeout code to 9.9-stable
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite

#1594 do not break member deletion
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite

#1597 Add '--customized' support for listener creation.
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, feature

#1599 do not break member deletion
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1600 use correct operating_status
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite

#1604 Cherry-pick PR 1580 to 9.9-stable branch
  .travis.yml
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/snats.py
Labels: enhancement

#1603 Change icontrol heartbeat interval as same as _report_state.
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
  f5_openstack_agent/lbaasv2/drivers/bigip/icontrol_driver.py
Labels: agent-lite, bug

#1606 Change icontrol heartbeat interval as same as _report_state.
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
  f5_openstack_agent/lbaasv2/drivers/bigip/icontrol_driver.py
Labels: agent-lite, bug

#1605 Remove obsolete bwc code
  f5_openstack_agent/lbaasv2/drivers/bigip/service_adapter.py
Labels: agent-lite

#1608 modify lb operating_status accordingly
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite

#1609 modify lb operating_status accordingly
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite

#1610 modify lb operating_status accordingly
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: agent-lite

#1607 Throw exception if no active bigips
  f5_openstack_agent/lbaasv2/drivers/bigip/icontrol_driver.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1612 Throw exception if no active bigips
  f5_openstack_agent/lbaasv2/drivers/bigip/icontrol_driver.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1615 Add avaliability_zone configuration for agent state reporting
  etc/neutron/services/f5/f5-openstack-agent.ini
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager.py
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
Labels: enhancement

#1618 Login docker hub with an id under f5devcentral org
  .travis.yml
Labels: enhancement

#1619 Login docker hub with an id under f5devcentral org
  .travis.yml
Labels: enhancement

#1620 Handle both None and '' situations for listener['customized']
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1621 Handle both None and '' situations for listener['customized']
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1623 Tolerate persistence timeout in string type
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, enhancement

#1622 Add lbaas-listener-update --customized support.
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, enhancement

#1625 Fix customized bug
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1626 Tolerate persistence timeout in string type (9.9)
  f5_openstack_agent/lbaasv2/drivers/bigip/listener_service.py
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite

#1624 Add lbaas-listener-update --customized support.
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, enhancement

#1627 Fix 'error opening BIG-IP - active:BIG-IP ready for provisioning'
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
  f5_openstack_agent/lbaasv2/drivers/bigip/icontrol_driver.py
Labels: agent-lite, bug

#1628 Fix 'error opening BIG-IP - active:BIG-IP ready for provisioning'
  f5_openstack_agent/lbaasv2/drivers/bigip/agent_manager_lite.py
  f5_openstack_agent/lbaasv2/drivers/bigip/icontrol_driver.py
Labels: agent-lite, bug

#1633 new release 9.8.44
  docs/RELEASE-NOTES.rst
  f5_openstack_agent/__init__.py
Labels: prerelease

#1634 Revert "Revert "change the algorithm from least-connection-node to le…
  f5_openstack_agent/lbaasv2/drivers/bigip/service_adapter.py
  f5_openstack_agent/lbaasv2/drivers/bigip/test/test_service_adapter.py
Labels: enhancement

#1637 Remove persist profile from vs, if its default pool remove persistence (9.8)
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug

#1640 Remove persist profile from vs, if its default pool remove persistence (9.9)
  f5_openstack_agent/lbaasv2/drivers/bigip/resource_manager.py
Labels: agent-lite, bug
